/* reset */
body {margin: 0; padding: 0; font-size: 16px; color: #333;}
h1,h2,h3,h4,h5,h6 {margin: 0;}
ol, ul, dl, dt, dd {margin: 0; padding: 0; list-style: none;}
a {text-decoration: none; color: #333;}
img {display: block;}
input {outline: none;}

/* common */
.wrapper {margin: 0 auto; width: 1280px;}

/* header */
.header {position: relative; padding: 40px 0;}

.header-search {overflow: hidden; position: absolute; top: 40px; left: 50%; margin-left: -250px; width: 500px; height: 40px; border: 1px solid #000; border-radius: 5px;}
.header-search__input {float: left; margin-top: 5px; width: 450px; padding: 5px; height: 20px; font-size: 18px; border: none;}
.header-search__button {position: relative; float: right; margin-top: 5px; width: 31px; height: 30px; border: none; background: none; cursor: pointer;}
.header-search__button:before {content: ""; position: absolute; top: 2px; left: 2px; display: block; width: 24px; height: 24px; background: url(../images/magnifying-glass-24px.png);}

.nav-group {overflow: hidden;}
.nav-item {float: left; width: 25%; text-align: center;}
.nav-link {display: inline-block; padding: 20px; font-weight: bold;}

/* main */
.main {padding: 20px 0;}
.main-visual {margin: 0 auto; width: 1280px; height: 350px; background: url(../images/visual2.jpg) center no-repeat; background-size: cover;}

.main-section {overflow: hidden; padding: 50px 0 0;}

.main-gallery__title {padding: 50px 0 30px; text-align: center; font-size: 30px; font-weight: bold;}
.main-gallery__group {overflow: hidden;}
.main-gallery__item {float: left; margin-left: 4%;width: 20%;}
.main-gallery__link {display: block; height: 100%;}
.main-gallery__image {width: 100%; border-radius: 10px}

.main-latest {float: left; margin-left: 4%; padding-top: 50px; width: 44%;}
.main-latest__title {font-size: 20px; font-weight: bold;}
.main-latest__group {padding: 20px 0;}
.main-latest__item {padding: 10px 0;}

/* footer */
.footer {margin-top: 50px; padding: 50px; border-top: 1px solid #333;}
.footer-con {text-align: center; font-size: 13px;}





/* subpage-common */
.main-title {padding: 20px 0 50px; text-align: center;}
.main-nav__item {display: inline-block; margin-right: 10px; }
.main-nav__link {display: inline-block; padding-bottom: 5px; color: #999;}
.main-nav__link.on {color: #333; border-bottom: 3px solid #000;}
.main-paging {margin: 30px auto 0; width: 390px;}
.main-paging__group {display: inline-block;}
.main-paging__item {display: inline-block; padding: 0 10px;}

/* place-common */
.main-board__group {overflow: hidden;}
.main-board__item--card {float: left; margin-left: 4%; padding: 0 0 50px; width: 20%;}
.card {}
.card-main {margin-top: 10px;}
.card-main__image {max-width: 100%; border-radius: 10px;}
.card-main__title {display: block; font-size: 14px;}
.card-main__info {position: relative; padding-left: 20px; font-size: 14px;}
.card-main__info:before {content: ""; position: absolute; top: 1px;  left: 0; display: inline-block; width: 16px; height: 16px; background-position: center; background-repeat: no-repeat;}
.card-main__info--date:before {background-image: url(../images/calendar-16px.png);}
.card-main__info--area:before {background-image: url(../images/marker-16px.png);}
.card-footer {margin-top: 5px;}
.card-footer__unit {}
.card-footer__unit--strikeout {text-decoration :line-through; color: #999;}
.card-footer__unit--price {float: right; font-size: 20px; font-weight: bold;}

/* notice */
.main-board__group {margin-top: 20px;}
.main-board__item {padding: 15px 0;}
.main-board__item--stick {border-top: 1px solid #f8f8f8;}
.stick {display: table;}
.stick-header, .stick-main, .stick-footer {display: table-cell; vertical-align: middle;}
.stick-header {width: 5%; text-align: center;}
.stick-main {width: 80%;}
.stick-footer {font-size: 14px;}
.stick-footer__unit {display: inline-block; margin-left: 6px;}

/* review */
.stick-main__thumb {display: inline-block; width: 100px; height: 60px; vertical-align: middle;background: #eee;}
.stick-main__image {max-width: 100%;}

/* detail */
.main-article {margin: 0 auto; width: 1000px;}
.main-article__image {max-width: 100%;}
.main-article__header {overflow: hidden;padding: 30px 0 10px;}
.main-article__title {float: left; font-size: 24px; font-weight: bold;}
.main-article__link {float: right; display: block; padding: 5px 50px;  background: #eee;}
.main-article__main {margin-top: 20px; padding: 20px; background: #eee; }
.main-article__text {line-height: 160%; font-size: 14px; }
.main-article__icon {}
.main-article__icon span {display: inline-block; vertical-align: middle; font-size: 18px;}
.main-article__heart {display: inline-block; width: 24px; height: 24px;}
.main-article__heart--fill {background: url(../images/heart-fill-24px);}
.main-article__heart--empty {background: url(../images/heart-empty-24px);}
.main-article__footer {margin-top: 20px;}
.main-article__tag {padding-bottom: 5px; font-size: 18px; border-bottom: 1px solid #ddd;}
.main-article__item {padding: 5px 0; font-size: 12px; color: #999;}

/* mypage */
.main-profile {overflow: hidden; margin: 0 auto; width: 460px;}
.main-profile__thumb {float: left;margin-right: 20px;}
.main-profile__image {width: 150px;}
.main-profile__group {font-size: 20px;}
.main-profile__title {float: left; margin-right: 10px;}
.main-profile__desc {margin-left: 10px;}
.main-ui {margin-top: 50px; text-align: center;}
.main-ui__link {display: inline-block; padding: 10px 0;  width: 150px; background: #eee;}